---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "SSO"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage - Single Page Application (SPA)

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-spa.tf") }}

## Example Usage - Web Application

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-web.tf") }}

## Example Usage - SAML Application

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-saml.tf") }}

## Example Usage - Native Application (Mobile)

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-native-mobile.tf") }}

## Example Usage - Worker Application

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-worker.tf") }}

## Example Usage - External Link

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-externallink.tf") }}

## Example Usage - WS-Fed

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-wsfed.tf") }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax, where attributes in `<>` brackets are replaced with the relevant ID.  For example, `<environment_id>` should be replaced with the ID of the environment to import from.

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}
