---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "SSO"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage - OIDC Application

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-oidc.tf") }}

## Example Usage - OIDC Application (OIDC Resource Scope)

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-oidc-resource-scope.tf") }}

## Example Usage - OIDC Application (Custom Resource Scope)

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-oidc-custom-resource-scope.tf") }}

## Example Usage - SAML Application

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-saml.tf") }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax, where attributes in `<>` brackets are replaced with the relevant ID.  For example, `<environment_id>` should be replaced with the ID of the environment to import from.

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}
{{- end }}
