---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> The custom domain must have a `status` value of `SSL_CERTIFICATE_REQUIRED` or `ACTIVE` in order to set the SSL certificate and key settings.  This requires the domain to be verified first using the `pingone_custom_domain_verify` resource, or through the console as described in the [PingOne Custom Domain documentation](https://docs.pingidentity.com/bundle/pingone/page/cxs1575407884833.html)

## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}

{{ .SchemaMarkdown | trimspace }}
