---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "Platform"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> PingOne environments are created with a default population and at least one service added.

~> This `pingone_environment` resource does not yet support creation of WORKFORCE enabled environments.

## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax examples, where attributes in `<>` brackets are replaced with the relevant ID.  For example, `<environment_id>` should be replaced with the ID of the environment to import from.

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}

~> The following import command is supported for backward capability with previous provider versions or where a default population doesn't exist in the environment.  The following example associates the defined population as the default population in the resource.  Once imported, the `environment_id` of the import command will be stored in the `id` attribute of the environment resource, and the `population_id` stored in the `default_population_id` attribute of the environment resource.

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import-definepopulation.sh") }}
