---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> PingOne environments are created with a default population and at least one service added.

## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}

~> The import command requires a `population_id` value on import, to associate that population as the default population.  Once imported, the `environment_id` of the import command will be stored in the `id` attribute of the environment resource, and the `population_id` stored in the `default_population_id` attribute of the environment resource.
