---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "Platform"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage - Unlimited Quota

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-unlimited.tf") }}

## Example Usage - Environment Quota

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-environment.tf") }}

## Example Usage - User Quota

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-user.tf") }}

## Example Usage - Cooldown Configuration

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-cooldown.tf") }}

## Example Usage - Provider Configuration

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-provider-configuration.tf") }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax, where attributes in `<>` brackets are replaced with the relevant ID.  For example, `<environment_id>` should be replaced with the ID of the environment to import from.

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}
{{- end }}
