---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "SSO"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> A warning will be issued following `terraform apply` when attempting to remove the final sign-on policy action from an associated sign-on policy.  When removing the final sign-on policy action from a sign-on policy, it's recommended to also remove the associated sign-on policy at the same time.  Further information can be found [here](https://github.com/pingidentity/terraform-provider-pingone/issues/68).

~> Some policy action conditions, such as `conditions.user_attribute_equals` and `conditions.user_is_member_of_any_population_id` conditions, are not available where the `priority` of a policy action is `1`.  Please refer to the schema documentation for more information.

## Example Usage - First Factor (Username/Password)

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-login.tf") }}

## Example Usage - Identifier First

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-idfirst.tf") }}

## Example Usage - MFA

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-mfa.tf") }}

## Example Usage - Identity Provider

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-idp.tf") }}

## Example Usage - Progressive Profiling

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-progressiveprofiling.tf") }}

## Example Usage - Agreement

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-agreement.tf") }}

## Example Usage - PingID Windows Login Passwordless (Workforce Environments)

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-pingidwinpasswordless.tf") }}

## Example Usage - PingID (Workforce Environments)

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource-pingid.tf") }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax, where attributes in `<>` brackets are replaced with the relevant ID.  For example, `<environment_id>` should be replaced with the ID of the environment to import from.

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}
