# This GitHub action runs your tests for each commit push and/or PR. Optionally
# you can turn it on using a cron schedule for regular testing.
#
name: Acceptance Tests (Latest - NA/AP/CA)
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - '.vscode'
      - '.gitignore'
      - 'CHANGELOG.md'
      - 'CONTRIBUTING.md'
      - 'LICENSE'
      - '.changelog/**'
      - 'contributing/**'
      - 'docs/**'
      - 'examples/**'
      - 'scripts/**'
      - 'templates/**'
  # For systems with an upstream API that could drift unexpectedly (like most SaaS systems, etc.),
  # we recommend testing at a regular interval not necessarily tied to code changes. This will 
  # ensure you are alerted to something breaking due to an API change, even if the code did not
  # change.
  schedule:
    - cron: '0 14 * * *'
jobs:
  # ensure the code builds...
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'
        cache: true
      id: go
    - uses: actions/cache@v3
      continue-on-error: true
      timeout-minutes: 2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-pkg-mod-${{ hashFiles('go.sum') }}

    - name: Get dependencies
      run: |
        go mod download

    - name: Build
      run: |
        go build -v .

  prepare-ap:
    name: Prepare AP
    runs-on: ubuntu-latest

    env:
      PINGONE_CLIENT_ID: ${{ secrets.AP_PINGONE_CLIENT_ID }}
      PINGONE_CLIENT_SECRET: ${{ secrets.AP_PINGONE_CLIENT_SECRET }}
      PINGONE_ENVIRONMENT_ID: ${{ secrets.AP_PINGONE_ENVIRONMENT_ID }}
      PINGONE_REGION: "AsiaPacific"
      PINGONE_LICENSE_ID: ${{ secrets.AP_PINGONE_LICENSE_ID }}
      PINGONE_ORGANIZATION_ID: ${{ secrets.AP_PINGONE_ORGANIZATION_ID }}

    timeout-minutes: 5
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'
        cache: true
      id: go
    - uses: actions/cache@v3
      continue-on-error: true
      timeout-minutes: 2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-pkg-mod-${{ hashFiles('go.sum') }}

    - name: Get dependencies
      run: |
        go mod download

    - name: Sweep to prepare
      run: |
        make sweep

  # run acceptance tests in a matrix with Terraform core versions
  test-ap:
    name: Acceptance Test AP
    needs: [prepare-ap, build]
    runs-on: ubuntu-latest

    env:
      PINGONE_CLIENT_ID: ${{ secrets.AP_PINGONE_CLIENT_ID }}
      PINGONE_CLIENT_SECRET: ${{ secrets.AP_PINGONE_CLIENT_SECRET }}
      PINGONE_ENVIRONMENT_ID: ${{ secrets.AP_PINGONE_ENVIRONMENT_ID }}
      PINGONE_REGION: "AsiaPacific"
      PINGONE_LICENSE_ID: ${{ secrets.AP_PINGONE_LICENSE_ID }}
      PINGONE_ORGANIZATION_ID: ${{ secrets.AP_PINGONE_ORGANIZATION_ID }}

    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        # list whatever Terraform versions here you would like to support
        terraform:
          - '1.2.*'
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'
        cache: true
      id: go
    - uses: actions/cache@v3
      continue-on-error: true
      timeout-minutes: 2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-pkg-mod-${{ hashFiles('go.sum') }}

    - uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ matrix.terraform }}
        terraform_wrapper: false

    - name: Get dependencies
      run: |
        go mod download

    - name: TF acceptance tests
      timeout-minutes: 10
      run: |
        make testacc

  cleanup-ap:
    name: Clean up AP
    needs: test-ap
    runs-on: ubuntu-latest

    env:
      PINGONE_CLIENT_ID: ${{ secrets.AP_PINGONE_CLIENT_ID }}
      PINGONE_CLIENT_SECRET: ${{ secrets.AP_PINGONE_CLIENT_SECRET }}
      PINGONE_ENVIRONMENT_ID: ${{ secrets.AP_PINGONE_ENVIRONMENT_ID }}
      PINGONE_REGION: "AsiaPacific"
      PINGONE_LICENSE_ID: ${{ secrets.AP_PINGONE_LICENSE_ID }}
      PINGONE_ORGANIZATION_ID: ${{ secrets.AP_PINGONE_ORGANIZATION_ID }}

    timeout-minutes: 5
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'
        cache: true
      id: go
    - uses: actions/cache@v3
      continue-on-error: true
      timeout-minutes: 2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-pkg-mod-${{ hashFiles('go.sum') }}

    - name: Get dependencies
      run: |
        go mod download

    - name: Sweep to prepare
      run: |
        make sweep

  prepare-ca:
    name: Prepare CA
    runs-on: ubuntu-latest

    env:
      PINGONE_CLIENT_ID: ${{ secrets.CA_PINGONE_CLIENT_ID }}
      PINGONE_CLIENT_SECRET: ${{ secrets.CA_PINGONE_CLIENT_SECRET }}
      PINGONE_ENVIRONMENT_ID: ${{ secrets.CA_PINGONE_ENVIRONMENT_ID }}
      PINGONE_REGION: "Canada"
      PINGONE_LICENSE_ID: ${{ secrets.CA_PINGONE_LICENSE_ID }}
      PINGONE_ORGANIZATION_ID: ${{ secrets.CA_PINGONE_ORGANIZATION_ID }}

    timeout-minutes: 5
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'
        cache: true
      id: go
    - uses: actions/cache@v3
      continue-on-error: true
      timeout-minutes: 2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-pkg-mod-${{ hashFiles('go.sum') }}

    - name: Get dependencies
      run: |
        go mod download

    - name: Sweep to prepare
      run: |
        make sweep

  # run acceptance tests in a matrix with Terraform core versions
  test-ca:
    name: Acceptance Test CA
    needs: [prepare-ca, build]
    runs-on: ubuntu-latest

    env:
      PINGONE_CLIENT_ID: ${{ secrets.CA_PINGONE_CLIENT_ID }}
      PINGONE_CLIENT_SECRET: ${{ secrets.CA_PINGONE_CLIENT_SECRET }}
      PINGONE_ENVIRONMENT_ID: ${{ secrets.CA_PINGONE_ENVIRONMENT_ID }}
      PINGONE_REGION: "Canada"
      PINGONE_LICENSE_ID: ${{ secrets.CA_PINGONE_LICENSE_ID }}
      PINGONE_ORGANIZATION_ID: ${{ secrets.CA_PINGONE_ORGANIZATION_ID }}

    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        # list whatever Terraform versions here you would like to support
        terraform:
          - '1.2.*'
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'
        cache: true
      id: go
    - uses: actions/cache@v3
      continue-on-error: true
      timeout-minutes: 2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-pkg-mod-${{ hashFiles('go.sum') }}

    - uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ matrix.terraform }}
        terraform_wrapper: false

    - name: Get dependencies
      run: |
        go mod download

    - name: TF acceptance tests
      timeout-minutes: 10
      run: |
        make testacc

  cleanup-ca:
    name: Clean up CA
    needs: test-ca
    runs-on: ubuntu-latest

    env:
      PINGONE_CLIENT_ID: ${{ secrets.CA_PINGONE_CLIENT_ID }}
      PINGONE_CLIENT_SECRET: ${{ secrets.CA_PINGONE_CLIENT_SECRET }}
      PINGONE_ENVIRONMENT_ID: ${{ secrets.CA_PINGONE_ENVIRONMENT_ID }}
      PINGONE_REGION: "Canada"
      PINGONE_LICENSE_ID: ${{ secrets.CA_PINGONE_LICENSE_ID }}
      PINGONE_ORGANIZATION_ID: ${{ secrets.CA_PINGONE_ORGANIZATION_ID }}

    timeout-minutes: 5
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'
        cache: true
      id: go
    - uses: actions/cache@v3
      continue-on-error: true
      timeout-minutes: 2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-pkg-mod-${{ hashFiles('go.sum') }}

    - name: Get dependencies
      run: |
        go mod download

    - name: Sweep to prepare
      run: |
        make sweep

  prepare-na:
    name: Prepare NA
    runs-on: ubuntu-latest

    env:
      PINGONE_CLIENT_ID: ${{ secrets.NA_PINGONE_CLIENT_ID }}
      PINGONE_CLIENT_SECRET: ${{ secrets.NA_PINGONE_CLIENT_SECRET }}
      PINGONE_ENVIRONMENT_ID: ${{ secrets.NA_PINGONE_ENVIRONMENT_ID }}
      PINGONE_REGION: "NorthAmerica"
      PINGONE_LICENSE_ID: ${{ secrets.NA_PINGONE_LICENSE_ID }}
      PINGONE_ORGANIZATION_ID: ${{ secrets.NA_PINGONE_ORGANIZATION_ID }}

    timeout-minutes: 5
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'
        cache: true
      id: go
    - uses: actions/cache@v3
      continue-on-error: true
      timeout-minutes: 2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-pkg-mod-${{ hashFiles('go.sum') }}

    - name: Get dependencies
      run: |
        go mod download

    - name: Sweep to prepare
      run: |
        make sweep

  # run acceptance tests in a matrix with Terraform core versions
  test-na:
    name: Acceptance Test NA
    needs: [prepare-na, build]
    runs-on: ubuntu-latest

    env:
      PINGONE_CLIENT_ID: ${{ secrets.NA_PINGONE_CLIENT_ID }}
      PINGONE_CLIENT_SECRET: ${{ secrets.NA_PINGONE_CLIENT_SECRET }}
      PINGONE_ENVIRONMENT_ID: ${{ secrets.NA_PINGONE_ENVIRONMENT_ID }}
      PINGONE_REGION: "NorthAmerica"
      PINGONE_LICENSE_ID: ${{ secrets.NA_PINGONE_LICENSE_ID }}
      PINGONE_ORGANIZATION_ID: ${{ secrets.NA_PINGONE_ORGANIZATION_ID }}

    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        # list whatever Terraform versions here you would like to support
        terraform:
          - '1.2.*'
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'
        cache: true
      id: go
    - uses: actions/cache@v3
      continue-on-error: true
      timeout-minutes: 2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-pkg-mod-${{ hashFiles('go.sum') }}

    - uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: ${{ matrix.terraform }}
        terraform_wrapper: false

    - name: Get dependencies
      run: |
        go mod download

    - name: TF acceptance tests
      timeout-minutes: 10
      run: |
        make testacc

  cleanup-na:
    name: Clean up NA
    needs: test-na
    runs-on: ubuntu-latest

    env:
      PINGONE_CLIENT_ID: ${{ secrets.NA_PINGONE_CLIENT_ID }}
      PINGONE_CLIENT_SECRET: ${{ secrets.NA_PINGONE_CLIENT_SECRET }}
      PINGONE_ENVIRONMENT_ID: ${{ secrets.NA_PINGONE_ENVIRONMENT_ID }}
      PINGONE_REGION: "NorthAmerica"
      PINGONE_LICENSE_ID: ${{ secrets.NA_PINGONE_LICENSE_ID }}
      PINGONE_ORGANIZATION_ID: ${{ secrets.NA_PINGONE_ORGANIZATION_ID }}

    timeout-minutes: 5
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'
        cache: true
      id: go
    - uses: actions/cache@v3
      continue-on-error: true
      timeout-minutes: 2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-pkg-mod-${{ hashFiles('go.sum') }}

    - name: Get dependencies
      run: |
        go mod download

    - name: Sweep to prepare
      run: |
        make sweep
